/* css reset */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat ExtraLight', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

/* 工具类 */
.opacity-half {
    opacity: 0.5;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*header 部分*/
header {
    height: 850px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/banner_bg.png") no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header--border {
    border: 1px solid #858585;
}

#header__article {
    text-align: center;
    padding-top: 150px;
}

#header__article h1 {
    font-size: 4rem;
    margin: 0 auto;
    text-transform: capitalize;
}

#header__article p {
    width: 40%;
    margin: 50px auto 0;
    line-height: 2;
}

#header__sign-box {
    margin: 100px auto 0;
    padding: 70px 0;
    width: 60%;
    text-align: center;
}

#header__sign-box h2,
#header__sign-box p {
    text-transform: uppercase;
}

#header__sign-box h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto 10px;
}

#header__sign-box form {
    margin-top: 30px;
}

#header__sign-box input,
#header__sign-box button {
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
    font-size: 1.1rem;
}

#header__sign-box input {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    width: 30%;
}

#header__sign-box input:nth-child(2) {
    margin: 0 20px;
}

#header__sign-box button {
    font-weight: bold;
    width: 20%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*第一部分*/
#first-block {
    padding: 100px 15%;
}

#first-block>p {
    text-align: center;
}

#first-block>p:first-child {
    margin-bottom: 20px;
}

#first-block>p:nth-child(2) {
    width: 60%;
    margin: 0 auto 50px;
    font-size: 2rem;
}
.first-block__item {
    width: 48%;
    height: 200px;
}
.first-block__item:nth-child(2n) {
    margin-left: 4%;
}
.first-block__item>section {
    width: 50px;
    text-align: center;
    position: relative;
    top: 8px;
}
.first-block__item>h3, .first-block__item>p{
    overflow: hidden;
    padding-left: 20px;
}
.first-block__item>p{
    margin-top: 10px;
}
/*第二部分*/
#second-block {
    height: 750px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/middle_bg.png") no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
}
#second-block__info-box {
    position: absolute;
    width: 50%;
    transform: translateY(-50%);
    top: 50%;
    padding-left: 20%;
}
#second-block__info-box>p:first-child {
    font-size: 2rem;
    margin-bottom: 40px;
}

#second-block__info-box>p:nth-child(2) {
    line-height: 2;
}
.second-block--border {
    border: 1px solid rgba(256, 256, 256, 0.3);
}
#second-block__info-box button {
    margin-top: 40px;
    display: inline-block;
    line-height: 50px;
    width: 46%;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}
#second-block__info-box button:nth-of-type(2) {
    margin-left: 4%;
}
#second-block__info-box button.second-block__btn--active {
    background-color: #ffffff;
    color: #000000;
}
#second-block__ipad {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 25px 0 25px 50px;
    border-radius: 40px 0 0 40px;
}
#second-block__ipad::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid rgba(256, 256, 256, 0.3);
    top: 50%;
    left: 25px;
    border-radius: 100%;
}
#second-block__ipad>img {
    width: 100%;
    height: 100%;
}

/*第三部分*/
#third-block {
    padding: 100px 0 ;
    text-align: center;
}

#third-block h2 {
    font-size: 2.5rem;
    margin: 0 auto 80px;
}

#third-block__flex-box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}

#third-block__flex-box>article {
    width: 30%;
}

#third-block__flex-box p {
    margin-top: 10px;
    padding: 0 10px;
}

/*第四部分*/
#fourth-block {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 100px 20%;
}

.fourth-block__img-wrapper {
    width: 60%;
    min-width: 300px;
}
.fourth-block__img-wrapper>img {
    width: 100%;
    height: 100%;
}
#fourth-block article {
    overflow: hidden;
    padding-top: 5%;
}
#fourth-block h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 20px;
}
#fourth-block>section {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
#fourth-block>section:first-child {
    margin-bottom: 50px;
}
#fourth-block>section:nth-child(1)>article {
    padding-left: 5%;
}
#fourth-block>section:nth-child(2)>article {
    padding-right: 5%;
}

/*第五部分*/
#fifth-block {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 100px 0;
    text-align: center;
}

#fifth-block h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#fifth-block>p {
    padding: 0 25%;
    opacity: 0.5;
    margin-bottom: 80px;
}

#fifth-block__portrait-box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

#fifth-block__portrait-box img {
    width: 100%;
    height: 100%;
}

#fifth-block__portrait-box>section {
    width: 48%;
    margin-bottom: 4%;
    position: relative;
}

#fifth-block__portrait-box>section:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333333 url("../images/portrait_mask.png");
    background-size: 100% 100%;
    opacity: 0.5;
    cursor: pointer;
}

/*第六部分*/
#sixth-block {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 100px 20%;
    text-align: center;
    overflow: hidden;
}

#sixth-block form,
#sixth-block__contact-box {
    width: 48%;
}

#sixth-block form {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 40px;
    margin-right: 2%;
}
#sixth-block form>* {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
#sixth-block form>input,
#sixth-block form>textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#sixth-block form>input {
    height: 40px;
}
#sixth-block form>textarea {
    height: 120px;
    resize: none;
}
#sixth-block form>button {
    height: 40px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
#sixth-block h3 {
    font-weight: 400;
    font-size: 1.3rem;
}

#sixth-block__contact-box {
    padding-left: 5%;
    padding-top: 5%;
    text-align: left;
}
#sixth-block__contact-box>h3 {
    margin-bottom: 20px;
}
#sixth-block__contact-box>p {
    opacity: 0.5;
    margin-bottom: 40px;
}
#sixth-block__contact-box>section {
    margin-bottom: 30px;
}
#sixth-block__contact-box>section>p {
    margin-left: 40px;
    vertical-align: top;
}

/* footer部分 */
footer {
    background: #141414;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 50px 15%;
}

footer>section {
    flex: 1;
}

footer h3 {
    font-weight: 400;
}

footer h3,
footer p {
    margin: 0;
}

footer>section>*:nth-child(n+2) {
    margin-top: 15px;
}
