/*初始化设置*/
html {
    font-size: 16px;
}
dt,dd,ul,li{
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
ul li:nth-child(n+2) {
    margin-left: 1rem;
}
li>span, dt{
    font-weight: bold;
}
#title {
    background: #858585;
    margin: 0;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #fff;
    padding-left: 1rem;
}
#desc {
    display: table;
    width: 100%;
}
#desc h2 {
    margin: 0;
    width: 5rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 1rem;
    background: #d6d6d6;
}
h2, ul, dl {
    display: table-cell;
    padding-left: 1rem;
}
ul, dl {
    vertical-align: top;
    padding-top: 1rem;
}

dt, dd {
    display: inline-block;
}

dl>div:nth-child(n+2) {
    margin-top: 0.5rem;
}
.tr {
    border: 1px solid #e3e3e3;
}
