/*初始化设置*/
html {
    font-size: 16px;
}

ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}
ul li:nth-child(n+2) {
    margin-left: 1rem;
}
li>span, dt{
    font-weight: bold;
}

dl div:nth-child(n+2) {
    margin-top: 1rem;
}

